<mat-list role="list">

  <mat-list-item role="listitem">
    <button class="item" mat-button>
            <a routerLink="/">
              <mat-icon>dashboard</mat-icon>
              Dashboard
            </a>
    </button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button class="item" mat-button>
      <a routerLink="users">
        <mat-icon>person_add</mat-icon>
        Users
      </a>
    </button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button class="item" mat-button>
       <a routerLink="/Customers">
        <mat-icon>group</mat-icon>
        Costumers
       </a>
    </button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button class="item" mat-button>
        <a routerLink="products">
          <mat-icon>inventory_2</mat-icon>
          Products
        </a>
    </button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button class="item" mat-button>
      <a routerLink="plans">
        <mat-icon>credit_card</mat-icon>
        Plans
      </a>
    </button>
  </mat-list-item>
  
  <mat-list-item role="listitem">
    <button class="item" mat-button>
        <a routerLink="orders">
          <mat-icon>list_alt</mat-icon>
          Orders
        </a>
    </button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button class="item" mat-button>
      <a routerLink="audit-log">
        <mat-icon>history</mat-icon>
        Audit logs
      </a>
    </button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button class="item" mat-button>
      <a routerLink="setting">
        <mat-icon>settings</mat-icon>
        Setting
      </a>
    </button>
  </mat-list-item>

</mat-list>

