
<mat-card class="container">
  <mat-grid-list cols="3" rowHeigth="200px" gutterSize="20px">
    <mat-grid-tile>
      <mat-card class="plans">
        <h2>Free</h2>
        <div><h2>$0</h2><span>/month</span></div>
        <span class="use" style="visibility: hidden;">demonstration.</span>
        <button mat-raised-button disabled>CURRENT PLAN</button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="plans">
        <h2>Growth</h2>
        <div><h2>$10</h2><span>/month</span></div>
        <span class="use">Hint: Use those <a href="">test cards</a> for demonstration.</span>
        <button mat-raised-button>SUBSCRIBE</button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="plans">
        <h2>Enterprise</h2>
        <div><h2>$50</h2><span>/month</span></div>
        <span class="use">Hint: Use those <a href="">test cards</a> for demonstration.</span>
        <button mat-raised-button>SUBSCRIBE</button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
