<mat-grid-list cols="3" rowHeight="230px" gutterSize="20px">
  <mat-grid-tile>
    <mat-card>
      <app-charts my-id="chart3" type="line"></app-charts>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <app-charts my-id="chart4" type="bar"></app-charts>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <app-charts my-id="char5" type="doughnut"></app-charts>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="360px" gutterSize="20px">
  <mat-grid-tile>
    <mat-card>
     <app-charts my-id="chart1" type="pie"></app-charts>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <app-charts my-id="chart2" type="radar"></app-charts>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<!-- <mat-grid-list cols="3" rowHeight="230px" gutterSize="20px">
  <mat-grid-tile>
    <mat-card>1</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>2</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>3</mat-card>
  </mat-grid-tile>
</mat-grid-list> -->
